<!DOCTYPE html>
<html>
  <head>
    <title>Rich</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navigation">
      <%= link_to "Sign up", sign_up_users_path%>
      <%= link_to "Sign in", sign_in_users_path%>
      <%= link_to "Sign out", sign_in_users_path,method: "delete"%>
      <% if user_signed_in? %>
        <li>
          <%= current_user.email%>
        </li>
      <%end%>
    </nav>
    <%= render "shared/flash" if notice%>
    <%= yield %>
  </body>
</html>
